@import "bootstrap.min.css";

* {

}

h2 {
    
}

.nav {
    
}

.icon-itch {
    background-image: url("../images/icons/itch.svg")!important;
    background-position: center center;
    width: 1em;
    background-color: red;
    color: red;
}

.navbar-nav {
    margin-left: auto;
}