$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
//$font-family-base: 'Roboto', sans-serif;
$primary: #0076B8;
//$secondary: 
$danger: red;


@import "../node_modules/bootstrap/scss/bootstrap";