$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$font-size-base: 1.5rem;

$border-radius-lg: .5em;

//$font-family-base: 'Roboto', sans-serif;
$primary: #0076B8;
//$secondary:  black;
$danger: red;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-size: 20px; 
}

#body-container {
    width: 85%;
}

.alert {
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

.navbar-brand {
    font-size: 60px !important;
    font-family: "Tw Cen MT", sans-serif;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar {
    padding: 0px !important;
}

.dropdown-menu .nav-link {
    color: $primary !important;
}

h1 {
    color: $primary;
    background-image: "/pictures/."
}

.page-title {
    border-bottom: 2px solid $primary;
}

h2 {
    font-size: 40px;
}

.card-title {
    font-weight: bold;
}

.quote {
    background-color: $primary;
    color: white;
    overflow: hidden;
}

p {
    text-align: justify;
    font-size: 22px;
    padding: 0;
    text-indent: 50px;
}

p:last-of-type {
    margin-bottom: 0;
}

.card {height: 100%;width: 100%;}

#card-row .col {
    padding: 0px;
}

.row {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#web-header {
    padding-top: 0;
}

footer .row {
    padding: 0;
}

.footer-brand {
    font-size: 60px !important;
    font-family: "Tw Cen MT", sans-serif;
    padding: 0px;
    text-decoration: none;
}

/*#separator-ribbon {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 1px;
}*/

/*footer::before {
    content:url("/pictures/ribbon-test-1.png");
    width: 100%;
    overflow: hidden;
    position: relative;
}*/

/*#separator-ribbon .content {
    width: 150%;
    height: 150%;
}*/

/*.nav-link:hover {
    background-color: $navbar-dark-hover-color !important;
    color: $primary;
}

.dropdown-menu .nav-link:hover, .dropdown-menu .nav-link:hover a  {
    background-color: $primary !important;
    color: white;
}*/

/*#body-container .row {
    margin-bottom: 48px;
}*/

.image-blurred-edge {
    background-image: url('http://lorempixel.com/200/200/city/9');
    background-color: none;
    width: 200px;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}

footer a {
    color: white;
}

.footer-element {
    text-align: center;
}

@media (max-width: 992px) {

    .p-5, nav .container {
        margin: 0 !important;
        //padding-left: 16px !important;
        //padding-right: 16px !important;
        //width: 100%;
        max-width: none;
    }

    //p, h2 {
    //    padding-left: 16px;
    //    padding-right: 16px;
    //}

    hr {
        margin-left: 16px;
        margin-right: 16px;
    }
    
    footer .p-5 {
        //padding-bottom: 16px !important;
    }
}

// MEDIA QUERIES
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .quote {
        max-width: 700px;
        min-height: 172px;
        max-height: 172px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #body-container {
        width: 75%;
    }

    .quote {
        max-width: 700px;
        min-width: 700px;
        max-height: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    #body-container {
        width: 50%;
    }
}