* {
	box-sizing: border-box;
}

body {
	background-color: #cce3f0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
}

h1 {
	/* font-size */
}

h2 {
	font-size: 25pt;
	margin: 0;
}

#web_title {
	width: 300px;
	height: auto;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	text-align: center;
}

#page_title {
	/* margin-top: 35px; */
	/* margin-left: 20px; */
	margin-right: 20px;
}

hr {
	border-style: solid;
	color: #0076B8;
}

#page_title::after {
	
}

#main_box {
	/* height: 1000px; */
	/* width: 800px; */
	width: 1300px;

	margin: auto;

	/* padding-top: 35px; */
	padding-bottom: 35px;

	/*border: solid; */
	/* border-color: #dfdfdf; */
	border-radius: 5px;

	box-shadow: 1px 1px 10px #7fbadb ;

	background-color: white;
}

.box {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav {
	margin: 0 auto;
	width: 750;
	background-color: #0076B8;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    width: auto;

    padding: 0;
    
    overflow: hidden;
}

nav ul li {
    /*width: 33.33%;*/
    float:left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    /*margin: auto;*/
    /*display: inline;*/
}

nav ul li:first-of-type {
    margin-left: 60px;
}

nav ul li:hover {
    background-color: #005e93;
}

nav ul li:active {
    background-color: #00466e;
}


nav ul li a{
	display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    /*width: 150px;*/
    
    font-family: Arial, sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
    /*border: 5px solid white;
    border-style: none none solid none;*/
}

.content {
	margin-top: 30px;
}

.content_box {
	margin-top: 65px;
	margin-left: 60px;
	margin-right: 60px;
	/* height: 750px; */

	padding-bottom: 35px;

	overflow:hidden;
	/* border: solid; */
	border-style: none none solid none;
	border-color: #0076B8;
	border-width: 3px;
}

.column50 {
	display: block;
	float:left;
	width: 50%;	

	padding-top: 20px;
	padding-right: 25px;
}

.column50 img {
	width: 100%;
}

.column50:first-of-type {
	
}

.column50:last-of-type {
	padding-left: 25px;
	padding-right: 0;
}

p {
	text-align: justify;
  	text-justify: inter-word;
}

.column50 p:first-of-type {
	margin-top: 0;
}

#footer_box {
	height: 100px;
	width: 1300px;
	margin: auto;
	margin-top: 10px;

	padding: 20px;

	/*border: solid; */
	/* border-color: #dfdfdf; */
	border-radius: 5px;

	box-shadow: 1px 1px 10px #7fbadb ;

	background-color: white;
}

@media (max-width: 1300px) and (min-width: 851px) {
	/*.facet_sidebar {
	  	display: none;
	}*/
	body {
		/* font-size: ; */
	}

	#main_box {
		/* height: 1000px; */
		width: 100%;
		margin: auto;

		/* padding-top: 35px; */
		padding-bottom: 35px;

		/*border: solid; */
		/* border-color: #dfdfdf; */
		border-radius: 5px;

		box-shadow: 1px 1px 10px #7fbadb ;

		background-color: white;
	}
	
	#footer_box {
		width: 100%;
	}
}


@media (max-width: 850px) {

	body {
		font-size: ;
	}

	#main_box {
		/* height: 1000px; */
		width: 100%;
		margin: auto;

		/* padding-top: 35px; */
		padding-bottom: 35px;

		/*border: solid; */
		/* border-color: #dfdfdf; */
		border-radius: 5px;

		box-shadow: 1px 1px 10px #7fbadb ;

		background-color: white;
	}

	nav ul li {
	    float: none;
	    padding-top: 25px;
	}

	nav ul li:first-of-type {
    	margin-left: 0;
	}

	nav ul li a{
	    padding-top: 0;
	    padding-bottom: 0;
	    vertical-align: middle;
	    margin: 0;

	    height: 50px;
	}

	.column50 {
		display: block;
		float: left;
		width: 100%;	

		padding: 0;
		padding-top: 20px;
	}

	.column50:last-of-type {
		padding: 0;
	}

	#footer_box {
		min-height: 100px;
		width: 100%;
		margin: auto;
		margin-top: 10px;
		
		/*border: solid; */
		/* border-color: #dfdfdf; */
		border-radius: 5px;

		box-shadow: 1px 1px 10px #7fbadb ;

		background-color: white;
	}
}