$bg-primary: rgb(55, 18, 60);
$bg-secondary: rgb(113, 103, 124);

$emphasis-color: rgb(240, 226, 231);

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: $bg-primary;
}

#sidebar {
    background-color: $bg-primary;
}

body {
    background-color: $bg-secondary;
}

h1 {
    
}
